
.admin-nav {
    height: 9dvh;
    display: flex;
}

.admin-logo-cont {
    width: 15dvw;
    background-color: var(--dark-green);
    display: flex;
    align-items: center;
    gap: 8px;
    border-right: var(--yellow) solid 2px;
}

.admin-nav-cont {
    color: var(--grey);
    border-bottom: #ccc solid 1px;
    flex: 1;
    display: flex;
    align-items: center;
}

.admin-logo img {
    height: 45px;
}

.admin-logo-title {
    flex: 1;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.admin-content {
    display: flex;
    height: 91dvh;
    /* border: red solid 1px; */
}

.side-nav-admin {
    height: 100%;
    width: 15dvw;
    background-color: var(--green);
    border-right: var(--yellow) solid 2px;
}

.side-nav-admin a{
    text-decoration: none;
    color: var(--very-light-green);
    font-size: medium;
}

.side-nav-admin a:hover, .side-nav-admin a.active  {
    color: white;
}

/* .side-nav-admin li{

} */

.admin-container {
    background-color: whitesmoke;
    flex: 1;
    overflow: auto;
}

/* .side-nav-admin, .admin-container { */
    /* border: red solid 1px; */

/* } */

.admin-nav-title-cont {
    width: 90%;
    display: flex;
    align-items: center;
}

.admin-logout-cont {
    flex: 1;
}

.admin-logout-cont:hover {
    cursor: pointer;
    color: var(--green);
}

.admin-logout-cont a {
    text-decoration: none;
}

.admin-faculties-cont, .admin-doc-content {
    height: 50%;
}

.admin-faculties-cont {
    color: var(--grey);
}

/* DASHBOARD  */
/* .admin-dash-cont {
    border: red solid 1px;
} */

.total-dept {
    background-color: var(--light-green);
    border-radius: 3px;
    width: 100%;
    color: whitesmoke;
    border-bottom: var(--yellow) solid 2px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.dept-logo img {
    height: 80px;
}

.total-rank-data {
    border-radius: 3px;
    background-color: var(--very-light-grey);
    border-left: var(--grey) solid 5px;
    color: var(--grey);
    /* border: var(--grey) solid 1px; */
}
/* FACULTIES  */

.admin-faculty-cont-title, .admin-doc-title {
    color: var(--grey);
    font-size: xx-large;
    font-weight: bold;
    gap: 10px;
}

.notif-bar-f {
    color: var(--green);
    display: flex;
    align-items: center;
    background-color: var(--very-light-green);
    font-size: medium;
    font-weight: normal;
    border-radius: 3px;
}

.admin-create-faculty-cont a{
    text-decoration: none;
}

.admin-create-cont-title {
    color: #ccc;
    font-size: xx-large;
    font-weight: bold;
}

.admin-create-cont-title:hover {
    transition: ease .2s;
    color: var(--grey);
}

.admin-filter-add-cont {
    display: flex;
    align-items: center;
}

.admin-filter-search {
    width: 30%;
}

/* .admin-add-faculty button,  */
.go-to-files-btn button, 
.update-prof-btn button,
.add-file-btn button,
.print-btn,
.yes-btn {
    font-size: medium;
    background-color: var(--light-green);
    border: none;
    border-radius: 3px;
    color: white;
    border-bottom: 3px solid var(--dark-green);
}

/* .admin-add-faculty button:active,  */
.go-to-files-btn button:active, 
.update-prof-btn button:active, 
.add-file-btn button:active,
.yes-btn:active {
    border-bottom: 1px solid var(--dark-green);
}

/* .admin-add-faculty button:disabled {
    background-color: var(--very-light-grey);
    border-bottom: 3px solid #ccc;
    cursor: not-allowed;
} */

.print-btn {
    background-color: var(--very-light-grey);
    color: var(--grey);
    border-bottom: 3px solid var(--grey);
}

.print-btn:active {
    border-bottom: 1px solid var(--grey);
}

/* DEpARTMENTS FILTER  */

.admin-departments-cont {
    display: flex;
    gap: 10px;
}

/* .admin-departments-lists {
    border: blue solid 1px;
} */

.admin-departments-title {
    font-size: x-large;
}

.admin-departments-lists a {
    text-decoration: none;
}

.admin-departments-lists .admin-department-ae.active, 
.admin-departments-lists .admin-department-am.active,
.admin-departments-lists .admin-department-as.active,
.admin-departments-lists .admin-department-cp.active,
.admin-departments-lists .admin-department-cs.active,
.admin-departments-lists .admin-department-ss.active {
    background-color: var(--dark-green);
}

.admin-department-ae,
.admin-department-am,
.admin-department-as,
.admin-department-cp,
.admin-department-cs,
.admin-department-ss {
    /* border: red solid 1px; */
    background-color: var(--light-green);
    width: 360px;
    color: white;
    border-radius: 3px;
    display: flex;
    user-select: none;
}

[class^="admin-department-"]:hover {
    transition: .2s;
    cursor: pointer;
    background-color: var(--green);
}

/* FACULTY TABLE  */
.admin-faculties-table-cont {
    /* border: black solid 1px; */
    flex: 1;
}

.admin-faculties-cont table tbody tr:hover {
    cursor: pointer;
    background-color: #dee2e6;
}

.admin-dept-ae-title,
.admin-dept-as-title,
.admin-dept-am-title,
.admin-dept-cp-title,
.admin-dept-cs-title,
.admin-dept-ss-title {
    font-size: x-large;
}

.admin-table {
    background-color: white;
    width: 100%;
    border-radius: 3px;
}

.admin-table tbody tr{
    border-top: #ccc 1px solid;
}

/* ADMIN CREATE  */

.admin-create-fields {
    /* border: red solid 1px; */
    height: auto;
}

.acf-title {
    border-left: 5px solid var(--yellow);
    font-size: x-large;
    color: var(--grey);
    font-weight: bold;
}

.in-parenthesis {
    font-weight: normal;
    font-size: large;
}

.create-basic-fields, 
.create-academic-fields, 
.create-research-fields,
.create-publications-fields, 
.create-extensions-fields,
.create-documents-fields,
.admin-profile-pic-update-cont,
.admin-file-update-cont {
    border: #ccc solid 1px;
    height: auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1.5px 3px 0 #ccc;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.admin-file-update-cont {
    border: #ccc solid 1px;
}

.basic2-flex #age {
    width: 100px;
}

.remove-field-btn button, 
.cancel-add-btn button,
.delete-doc-btn button,
.no-btn {
    display: grid;
    align-items: center;
    font-size: small;
    background-color: var(--red);
    border: none;
    border-radius: 3px;
    color: white;
    border-bottom: 3px solid var(--dark-red);
}

.no-btn {
    font-size: medium;
}

.remove-field-btn button:active,
.cancel-add-btn button:active,
.delete-doc-btn button:active,
.no-btn:active {
    border-bottom: 1px solid var(--dark-red);
}

.cancel-add-btn button {
    font-size: medium;
}

.add-field-btn {
    font-size: small;
    background-color: var(--very-light-grey);
    border: none;
    border-radius: 3px;
    color: var(--grey);
    border-bottom: 3px solid #ccc;
}

.add-field-btn:active {
    border-bottom: 1px solid #ccc;
}

.research-flex, .publications-flex, .extensions-flex {
    flex-direction: column;
}

.date-picker {
    border: #dee2e6 solid 1px;
    border-radius: 0.372rem;
    padding: 6px 12px;
}

.fa-trash-can {
    transition: color .2s ease;
}

.fa-trash-can:hover {
    cursor: pointer;
    color: var(--red);
}

.admin-dept-ae-cont,
.admin-dept-am-cont,
.admin-dept-as-cont,
.admin-dept-cp-cont,
.admin-dept-cs-cont,
.admin-dept-ss-cont {
    color: var(--grey);
}

.admin-table a{
    color: var(--grey);
}

.profile-image-cont img {
    border: #dee2e6 solid 3px;
    border-radius: 3px;
    height: 200px;
    width: 200px;
}

.faculty-per-table {
    width: 400px;
}

.admin-dept-ae-cont,
.admin-dept-am-cont,
.admin-dept-as-cont,
.admin-dept-cp-cont,
.admin-dept-cs-cont,
.admin-dept-ss-cont {
    flex: 1;
}

.tb-fullname {
    width: 300px;
}

.tb-no {
    width: 70px;
}

.tb-role {
    width: 180px;
}

.tb-rank {
    width: 200px;
}

.form-select-admin, .form-admin {
    /* padding: .375rem 2.25rem .375rem .75rem; */
    border-radius: 2px;
    border: solid 1px #ccc;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    color: var(--grey);
}

.form-select-admin:focus,
.form-admin:focus {
    /* border: none; */
    border: solid 1px var(--green);
    border-radius: 2px;
    /* outline: none; */
    box-shadow: none;
    transition: border 0.3s ease;
}

.basic-content p {
    word-wrap: normal;
}

.acad-flex,
.research-flex,
.extensions-flex,
.publications-flex {
    border-bottom: #ccc solid 1px;
    /* box-shadow: 0 1.5px 3px 0 #ccc; */
    background-color: whitesmoke;
}