/* Department Title and Logo Section */
.deptbgSection {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
    position: relative;
}

.deptTextContainer {
    display: flex;
    align-items: center;
}

.deptText {
    margin: 0;
    font-size: 60px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.logoSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 5rem;
    background-color: #FFF6A1;
    position: relative;
}

.prevButton {
    position: absolute;
    left: 10px;
    color: #005f00;
    font-size: 4rem;
    margin-left: 50px;
}

.prevButton:hover {
    cursor: pointer;
}

.nextButton {
    position: absolute;
    right: 10px;
    color: #005f00;
    font-size: 4rem;
    margin-right: 50px;
}

.nextButton:hover {
    cursor: pointer;
}

.logo {
    width: 160px;
    height: 160px;
}

/* Facility Section */
.facilitySection {
    background-image: url("/images/logos_bgs/preview_bg1.jpg");
}

.altfacilitySection {
    flex-direction: row-reverse;
    background-image: url("/images/logos_bgs/preview_bg2.jpg");
}

.facilitySection, .altfacilitySection {
    display: flex;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
}

.imageBox {
    margin-right: 20px;
}

.preview-image {
    width: 600px;
    height: 380px;
    border-radius: 20px;
}

.content {
    flex: 1; 
}

.text, .alttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25px; 
    padding: 10px;
}

.text h2{
    color: whitesmoke;
    font-size: 40px; 
    font-weight: bold; 
}

.text p{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 400;
    max-width: calc(90% - 25px); 
    position: relative; 
}

.alttext h2{
    color: #DBA126;
    font-size: 40px; 
    font-weight: bold; 
}

.alttext p{
    color: #DBA126;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 400;
    max-width: calc(90% - 25px); 
    position: relative; 
}

.carousel-container {
    display: flex;
    justify-content: center;
    background-color: #FFF6A1;
    /* background-image: url("/images/logos_bgs/carousel_bg.jpg"); */
}

.facility-carousel {
    width: 550px;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-item {
    border-radius: 20px;
}

.carousel-image-box {
    width: 550px;
    height: 350px;
}

.carousel-image-box img {
    width: 550px;
    height: 350px;
    border-radius: 20px;
}