.modal-title {
    color: white;
}

.carousel-image {
    height: 350px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.modal-header {
    background-color: var(--green);
    color: white;
}

.carousel-item {
    display: flex;
}
