

.print-page-paper {
    background-color: white;
}

@media print {
    @page {
        /* size: legal; */
        margin: .5in;
        /* margin: 0; */
    }
}

.print-header {
    border-bottom: var(--dark-green) solid 2px;
}