
.profile-content {
    height: calc(100vh - 60px);
}

.profile-container {
    /* border: black solid 1px; */
    height: 100%;
    display: flex;
    gap: 1.5rem;
    margin-top: 60px;
}

.profile-section, .profile-info-section {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: #ccc solid 1px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.profile-section {
    /* position: relative; */
    color: white;
    /* background-color: var(--light-green); */
    background-image: linear-gradient(to bottom, #038303, #1b8a18, #2a9127, #369834, #419f40, #46a245, #4aa64a, #4fa94f, #4fa94f, #4fa94f, #4fa94f, #4fa94f);
    width: 25%;
}

.profile-info-section {
    position: relative;
    flex: 1;
    background-color: white;
}

.profile-pic-cont {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-layer {
    height: 200px;
    width: 200px;
    border: var(--dark-green) solid 10px;
}

.second-layer {
    height: 100%;
    border: var(--green) solid 1px;
    overflow: hidden;
}

.second-layer img {
    width: 100%; /* Makes the image fill the circular div */
    height: 100%; /* Maintains aspect ratio */
    display: block; /* Removes any extra space around the image */
}

.first-layer, .second-layer {
    border-radius: 50%;
    
}

.name-rank-cont {
    text-align: center;
    border-bottom: 2px var(--dark-green) solid;
}

.email-num-cont {
    font-size: large;
}

.edit-profile-cont, .print-data-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 0; */
    /* position: absolute; */
    height: 50px;
}

.edit-profile-btn, .print-data-btn {
    width: 100%;
    background-color: var(--green);
    border: none;
    border-radius: 3px;
    color: white;
    border-bottom: 3px solid var(--dark-green);
}

.edit-profile-btn:active, .print-data-btn:active {
    border-bottom: 1px solid var(--dark-green);
}

/* Profile Informations  */

.profile-info-content {
    height: 93%;
    position: inherit;
    /* background-image: url('../img/agri_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;
    background-color: transparent; */
    /* border: black solid 1px; */
    /* opacity: 0.5; */
    z-index: 1;
}

.agri-logo-cont img {
    height: 400px;
    /* -webkit-user-drag: none; */
}   

.agri-logo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:black 2px solid; */
    position: absolute;
    bottom: 0;
    height: 93%;
    width: 100%;
    opacity: 0.1;
}

.profile-ribbon {
    height: 7%;
}

.profile-ribbon ul {
    background-color: whitesmoke;
    /* border-bottom: #ccc solid 1px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    /* background-color: #333; */
}

.profile-ribbon li {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
    border-bottom: #ccc solid 1px;
}

.profile-ribbon li a {
    display: block;
    color: var(--grey);
    text-align: center;
    text-decoration: none;
}

.profile-ribbon li:hover {
    cursor: pointer;
    /* background-color: #ccc; */
}

.blank-tab {
    /* width: 100%; */
    flex: 1;
}

.basic-tab a, 
.academic-tab a, 
.research-tab a,
.publication-tab a, 
.subject-tab a, 
.documents-tab a, 
.extensions-tab  a{
    border-right: none;
    transition: .3s color;
}

.basic-tab a:hover, 
.academic-tab a:hover, 
.publication-tab a:hover, 
.research-tab a:hover, 
.subject-tab a:hover, 
.documents-tab a:hover, 
.extensions-tab  a:hover{
    color: var(--light-green);
}

.basic-tab.active a, 
.academic-tab.active a, 
.publication-tab.active a, 
.research-tab.active a, 
.subject-tab.active a,
.documents-tab a,
.extensions-tab {
    color: var(--light-green);
}

.basic-tab.active {
    background-color: white;
    border-right: var(--light-green) 3px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: white solid 1px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}

.academic-tab.active,
.publication-tab.active,
.research-tab.active,
.subject-tab.active,
.extensions-tab,
.documents-tab {
    background-color: white;
    border-left: #ccc 1px solid;
    border-right: var(--light-green) 3px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: white solid 1px;
    box-shadow: 0 1.5px 3px 0 #ccc;
}


.title-info-content, 
.title-info-content-acad,
.title-info-content-res {
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    border-bottom: var(--green) solid 2px;
    display: flex;
    text-align: start;
}

/* .data-label { */
    /* text-decoration: underline;
    text-decoration-color: var(--light-green);
    text-decoration-thickness: 2px;
    color: var(--grey); */
/* } */

.basic-content, 
.academic-content,
.acad-educ-content, 
.acad-work-content, 
.research-content,
.publications-content,
.extensions-content {
    height: 100%;
    color: var(--grey);
}

.acad-row1, .res-title {
    /* display: ruby; */
    /* font-style: italic; */
    font-weight: bold;
    font-size: x-large;
    text-align: justify;
}

.bg-data {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5; /* Adjust as needed */
    /* filter: blur(15px); */
    backdrop-filter: blur(20px);
    z-index: -1;
}

.datas-content-container {
    position: relative;
    height: 90%;
    overflow-y: auto;
}

.go-back-btn {
    width: fit-content;
}

.go-back-btn:hover {
    transition: .2s;
    cursor: pointer;
    color: var(--light-green);
}

.edit-profile-container {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: small;
}

.edit-profile, .add-btn {
    /* font-size: medium; */
    background-color: var(--light-green);
    border: none;
    border-radius: 3px;
    color: white;
    border-bottom: 3px solid var(--dark-green);
}

.edit-profile:active, .add-btn:active {
    border-bottom: 1px solid var(--dark-green);
}

.cancel-btn {
    /* font-size: medium; */
    background-color: var(--red);
    border: none;
    border-radius: 3px;
    color: white;
    border-bottom: 3px solid var(--dark-red);
}

.cancel-btn:active {
    border-bottom: 1px solid var(--dark-red);
}

.p-email {
    word-break: break-all;
    overflow-wrap: break-word;
}

/* .educ-modal-head {
    background-color: red;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
} */

.for-edit-btn {
    position: absolute;
    right: 0;
}

.edit-educ-btn:hover {
    color: var(--green);
}